@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    transform-style: preserve-3d;
    transition: transform 0.4s;
}

.flip-card-inner.flipped {
    transform: rotateY(180deg);
}

.flip-card-face {
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}